container_commands:
  01_make_executable:
    command: |
      chmod +x .platform/hooks/postdeploy/*.sh
      chmod +x .platform/hooks/prebuild/*.sh

  02_ensure_unix_format:
    command: |
      dos2unix .platform/hooks/postdeploy/*.sh
      dos2unix .platform/hooks/prebuild/*.sh

    03_ensure_cache_directory_exists:
        command: rm -rf /tmp/nginx_cache && mkdir /tmp/nginx_cache
