container_commands:
    01_install_node:
        command: |
            sudo curl -sL https://rpm.nodesource.com/setup_22.x | sudo -E bash -
            sudo yum install -y nodejs

    02_build_assets:
        command: |
            cd /var/app/ondeck
            npm install
            npm run build